<ion-view view-title="Dashboard">
  <ion-content class="wrapper_bg">
      <div class="home_content">
          <h1> Ajouter un chrono </h1>
          <h3> choisir une catégorie</h3>
      </div>
      <div class="rounded-icons">
          <div class="left">
                <img src="../img/chef.png" class="icon" alt="chef hat">
            <br> <br>
             <div class="icon">
               <img src="../img/bubbles.png" class="icon" alt="chef hat">
             </div>
          </div>

          <div class="left">
              <img src="../img/sign.png" class="icon" alt="chef hat">
            <br> <br>
              <img src="../img/add.png" class="icon" alt="chef hat">
          </div>
      </div>
  </ion-content>
</ion-view>
