<ion-view view-title="Chats">

  <ion-content class="wrapper_bg">
    <a ui-sref="param">
      <img class="param" src="img/tool.png">
    </a>
    <div class="text">
      <h1 class="text-center">MES CHRONOS</h1>
    </div>
    <div class="row">
      <div class="col-20">
      </div>
      <div class="col categ">
        <a ui-sref="">
          <img class="icone" src="img/bubbles.png">
        </a>
      </div>
      <div class="col categ">
        <a ui-sref="">
          <img class="icone" src="img/chef.png">
        </a>
      </div>
      <div class="col categ">
        <a ui-sref="">
          <img class="icone" src="img/sign.png">
        </a>
      </div>
      <div class="col-20">
      </div>
    </div>

  <div class="col-10 col-offset-50 add">
    <a ui-sref="tab.addchrono">
      <img class="icone add" src="img/add.png">
   </a>
  </div>



  </ion-content>
</ion-view>
