<ion-view view-title="Dashboard">
  <ion-content class="wrapper_bg">
      <div class="home_content">
          <h1> Ajouter un chrono </h1>
          <h3> choisir une catégorie</h3>
      </div>
      <div class="rounded-icons">
          <div class="left">
              <div class="icon">
                <img src="../img/chef.png" alt="chef hat">
              </div>
            <br> <br>
             <div class="icon">
               <img src="../img/bubbles.png" alt="chef hat">
             </div>
          </div>

          <div class="left">
            <div class="icon">
              <img src="../img/sign.png" alt="chef hat">
            </div>
            <br> <br>
            <div class="icon">
              <img src="../img/add.png" alt="chef hat">
            </div>
          </div>
      </div>
  </ion-content>
</ion-view>
